div#top.eyebrow.drop-shadow
    div.grid-container.clearfix
        div.eyebrow-nav.grid-12
            div.eyebrow-logo
                h1 #{site_title}
            ul.eyebrow-menu
                for link in eyebrow
                    if current.path[0] == link.alias 
                        li.current
                            a(href="./#{link.alias}.html") #{link.title}
                    else
                        li
                            a(href="./#{link.alias}.html") #{link.title}